@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif; 
    
}
h1{
    font-size: 34px;
    padding: 2px;
}

h2{
    font-size: 24px;
    padding: 2px;
}

h3{
    font-size: 20px;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid black;
    max-width: 300px;
}

h4{
    font-size:16px;
    padding: 10px;
    margin: 5px auto;
    max-width: 300px;
}

p {
    padding: 5px;
    margin: 10px auto;
    max-width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 7px -3px;
    text-align: justify;
    font-size: 18px;
    
    
}

.probabilidade_estatistica{
    text-align: center;
}

header {
    padding: 10px;
    margin: 0 auto;
    background-color: black;
    color: white;
    text-align: center; 
}

.background_content{
    width: 100vw;
    height: 100vh;
    background-color: rgb(210, 210, 210);
    padding: 5px;
    
}

